.tool-bar{
    -fx-background-color: #595959;
}
.menu-button{
    -fx-border-color: #e4e4eb;
    -fx-background-color: #595959;

    -fx-border-radius: 5;
    -fx-text-fill: #f5f5f5;
}
.menu-item{
    -fx-background-color: #595959 ;
    -fx-pref-width: 120;
    -fx-text-fill: #e8e8e8;
}
.context-menu
{
    -fx-background-radius: 5;
    -fx-border-radius: 23;
    -fx-background-color: #595959;
    -fx-border-width: 0px;
    -fx-text-fill: #FFFFFF;
}
.color-picker{
    -fx-background-radius: 3;
    -fx-border-radius: 13;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #e4e4eb;
    -fx-background-color: #595959;
}
.button{
    -fx-border-color: #e4e4eb;
    -fx-text-fill: #f0f0f0;
    -fx-background-radius: 15;
    -fx-border-radius: 43;
    -fx-background-color: #595959;
}
.button:hover, .menu-button:hover , .color-picker:hover{
    -fx-text-fill: #595959;
    -fx-background-color: #e4e4eb;
}

.menu-item > .label , .color-picker > .label , .menu-button > .label{
    -fx-text-fill: #e4e4eb;
}
.menu-item:hover {
    -fx-background-color: #e4e4eb;
}
.menu-item:hover > .label , .color-picker:hover > .label , .menu-button:hover > .label{
    -fx-text-fill: #595959;
}
#area{
    -fx-background-color:  #778899;
}
#stack-pane{
    -fx-background-color: #FFFFFF;
}

    /*-fx-background-image: url("../images/background.jpg");*/